<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Sleep &amp; Code</string>
    <key>CFBundleDisplayName</key>
    <string>Sleep &amp; Code</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.sleepandcode.oura-callback</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>sleepandcode</string>
            </array>
        </dict>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.sleepandcode.sync</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array/>
</dict>
</plist>
